.home-container {
    width: inherit;
    overflow: hidden;
}

.banner-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px;
}

.continue-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    border-radius: 20px;
    max-width: 200px;
    padding: 10px 40px;
    gap: 10px;
    transition: 0.4s;
}

.continue-button p {
    margin: 0
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.loading-icon {
    animation: spin 1s infinite linear;
    font-size: 20px;
    margin: 0 40px;
    color: #000000;
}

.continue-button:hover {
    background-color: black;
    color: white;
}