.category-container{
    height: 90vh;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 3vw;
}

.category-list-header{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: center;
    padding: 4px;
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    height: 50px;
    padding-left: 17px;
    width: 250px;
    border-radius: 10px 10px 0 0;
}

.category-list-header p {
    margin: 0;
    padding-left: 8px;
    color: grey;
    font-size: 18px;
}