.category-container {
    width: 93%;
    height: inherit;
    display: flex;
    flex-direction: row;
    gap: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.category-list-header {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: center;
    padding: 4px;
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    height: 50px;
    padding-left: 17px;
    width: 250px;
    border-radius: 10px 10px 0 0;
}

.category-list-header p {
    margin: 0;
    padding-left: 8px;
    color: grey;
    font-size: 18px;
}

.ant-menu-submenu-title {
    transition: 0.3s !important;
}

.ant-menu-submenu-title:hover {
    background-color: #defcec !important;
    color: #00b252 !important;
    border-left: #00b252 5px solid !important;
    border-radius: 3px 10px 10px 3px;
    transition: 0.3s !important;
}

.ant-menu-submenu-selected>.ant-menu-submenu-title {
    border-left: #00b252 5px solid !important;
    background-color: #defcec !important;
    border-radius: 3px 10px 10px 3px;
    color: #00b252 !important;
}

.ant-menu-item-selected {
    border-left: #00b252 5px solid !important;
    background-color: #defcec !important;
    border-radius: 3px 10px 10px 3px;
    color: #00b252 !important;
}

.ant-menu-item:hover {
    border-left: #00b252 5px solid !important;
    background-color: #defcec !important;
    color: #00b252 !important;
    transition: 0.3s !important;
    border-radius: 3px 10px 10px 3px;
}

.ant-menu-menu-title {
    color: #00b252 !important;
}

.ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub::-webkit-scrollbar {
    width: 8px;
}

.ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
}

.ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(96, 103, 139);
}

.navbar_item {
    color: #000000E0
}

.category-logo-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.ant-menu-title-content {
    height: 100% !important;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
}

.category-logo {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.ant-menu-vertical>.ant-menu-item {
    display: flex;
    align-items: center;
    height: 50px;
}

.ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title {
    display: flex;
    margin: 0 4px;
    height: 50px;
    align-items: center;
    align-content: center;
}

.ant-menu-submenu-title {
    margin: 0 4px;
}