.category-container {
    width: 93%;
    height: inherit;
    display: flex;
    flex-direction: row;
    gap: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.category-list-header {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: center;
    padding: 4px;
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    height: 50px;
    padding-left: 17px;
    width: 250px;
    border-radius: 10px 10px 0 0;
}

.category-list-header p {
    margin: 0;
    padding-left: 8px;
    color: grey;
    font-size: 18px;
}

.ant-menu-submenu-title {
    transition: 0.3s !important;
}

.ant-menu-submenu-title:hover {
    background-color: #defcec !important;
    color: #00b252 !important;
    border-left: #00b252 5px solid !important;
    border-radius: 3px 10px 10px 3px;
    transition: 0.3s !important;
}

.ant-menu-submenu-selected>.ant-menu-submenu-title {
    border-left: #00b252 5px solid !important;
    background-color: #defcec !important;
    border-radius: 3px 10px 10px 3px;
    color: #00b252 !important;
}

.ant-menu-item-selected {
    border-left: #00b252 5px solid !important;
    background-color: #defcec !important;
    border-radius: 3px 10px 10px 3px;
    color: #00b252 !important;
}

.ant-menu-item:hover {
    border-left: #00b252 5px solid !important;
    background-color: #defcec !important;
    color: #00b252 !important;
    transition: 0.3s !important;
    border-radius: 3px 10px 10px 3px;
}

.ant-menu-menu-title {
    color: #00b252 !important;
}

.navbar_item {
    color: #000000E0
}