.footer-container{
    margin-top: 40px;
}

.footer-above{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo-container{
    text-align: center
}

.logo-container img{
    width: 200px;
}

.logo-container h2{
    font-size: 18px;
    font-weight: 400;
    margin-top: -15px;
}

.footer-items h2{
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 600;
}

.footer-items p{
    font-size: 15px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.footer-items p:hover{
    color: #00b252;
    cursor: pointer;
}

.last-footer-item h2{
    font-size: 19px;
    color: #00b252;
    margin-bottom: 15px;
}

.footer-text{
    font-weight: 600;
}

.phone-number{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 700;
    font-size: 18px;
}

.download-application{
    display: flex;
    gap: 10px;
}

.footer-below{
    border-top: rgb(230, 235, 235) 2px solid;
    padding:  10px;
    padding-top: 15px;
    text-align: center;
    color: silver;
    font-weight: 600;
}