@font-face {
  font-family: 'QuickSans';
  src: url('./fonts/Quicksand-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: 'QuickSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f5f7;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(96, 103, 139);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}